# Twitter Scraping using SNS Scrape

# Installing and importing dependencies

In [7]:
# Run the pip install command below if you don't already have the library
!pip install git+https://github.com/JustAnotherArchivist/snscrape.git

# Run the below command if you don't already have Pandas
!pip install pandas

Collecting git+https://github.com/JustAnotherArchivist/snscrape.git
  Cloning https://github.com/JustAnotherArchivist/snscrape.git to c:\users\furqan970\appdata\local\temp\pip-req-build-e_7dbvk3
  Resolved https://github.com/JustAnotherArchivist/snscrape.git to commit c3b216c3cb8593513a018eb3ec4fd6f18d3aba5b
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: requests[socks] in c:\users\furqan970\anaconda3\lib\site-packages (from snscrape==0.6.2.20230321.dev39+gc3b216c) (2.28.1)
Requirement already satisfied: lxml in c:\users\furqan970\anaconda3\lib\site-packages (from snscrape==0.6.2.20230321.dev39+gc3b216c) (4.9.2)
Requirement already satisfied: beautifulsoup4 in c:\users\furqan970\anaconda3\lib\site-packages (from snscrape==0.6.2.20230321.dev39+gc3b216c) (4.11.1)
Requirement already satisfied: filelock in c:\users\furqan970\anaconda3\lib\site-packages (from snscrape==0.6.2.20230321.dev39+gc3b216c) (3.6.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\furqan970\anaconda3\lib\site-packages (from beautifulsoup4->snscrape==0.6.2.20230321.dev39+gc3b216c) (2.3.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\furqan970\anaconda3\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230321.dev39+gc3b216c) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\furqan970\anaconda3\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230321.dev39+gc3b216c) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\furqan970\anaconda3\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230321.dev39+gc3b216c) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\furqan970\anaconda3\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230321.dev39+gc3b216c) (2022.9.14)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\furqan970\anaconda3\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230321.dev39+gc3b216c) (1.7.1)
Building wheels for collected packages: snscrape
  Building wheel for snscrape (pyproject.toml): started
  Building wheel for snscrape (pyproject.toml): finished with status 'done'
  Created wheel for snscrape: filename=snscrape-0.6.2.20230321.dev39+gc3b216c-py3-none-any.whl size=74289 sha256=271225fd9aa8a788223eb2dbeb4949fc8660e40b378037d93656b084d752c823
  Stored in directory: C:\Users\Furqan970\AppData\Local\Temp\pip-ephem-wheel-cache-q86biz0q\wheels\1a\ba\e2\39fa3a11802c4a622f2efc8be3f5ff854481051d0b4c95c1fd
Successfully built snscrape
Installing collected packages: snscrape
  Attempting uninstall: snscrape
    Found existing installation: snscrape 0.6.2.20230321.dev32+gb76f485
    Uninstalling snscrape-0.6.2.20230321.dev32+gb76f485:
      Successfully uninstalled snscrape-0.6.2.20230321.dev32+gb76f485
Successfully installed snscrape-0.6.2.20230321.dev39+gc3b216c

  Running command git clone --filter=blob:none --quiet https://github.com/JustAnotherArchivist/snscrape.git 'C:\Users\Furqan970\AppData\Local\Temp\pip-req-build-e_7dbvk3'

Requirement already satisfied: pandas in c:\users\furqan970\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\furqan970\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\furqan970\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\furqan970\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\furqan970\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [8]:
# Imports
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Query by Username
The code below will scrape for 100 tweets by a username then provide a CSV file with Pandas

In [15]:
# Setting variables to be used below
maxTweets = 100

# Creating list to append tweet data to
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:elonmusk').get_items()):
    if i>maxTweets:
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

C:\Users\Furqan970\AppData\Local\Temp\ipykernel_13848\926890194.py:11: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [16]:
# Creating a dataframe from the tweets list above
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Display first 5 entries from dataframe
tweets_df1.head()

,Datetime,Tweet Id,Text,Username
0,2023-06-11 16:44:52+00:00,1667935943708356608,@StephenKing There is also equal treatment bef...,elonmusk
1,2023-06-11 06:36:36+00:00,1667782870423724033,@RichardHanania But if you discriminate agains...,elonmusk
2,2023-06-11 06:33:00+00:00,1667781964336709632,@andrewdoyle_com UK now understands. America w...,elonmusk
3,2023-06-11 06:10:16+00:00,1667776242081484801,@teslaownersSV @WR4NYGov Yeah,elonmusk
4,2023-06-11 05:24:50+00:00,1667764809457098752,@LibertyCappy It is insane,elonmusk

In [17]:
# Export dataframe into a CSV
tweets_df1.to_csv('user-tweets.csv', sep=',', index=False)

# Query by Text Search
The code below will scrape for 500 tweets between June 1st, 2022 and June 11th, 2023, by a text search then provide a CSV file with Pandas

In [21]:
# Setting variables to be used below
maxTweets = 500

# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('cat since:2022-06-01 until:2023-06-11').get_items()):
    if i>maxTweets:
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

C:\Users\Furqan970\AppData\Local\Temp\ipykernel_13848\101611164.py:11: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [22]:
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Display first 5 entries from dataframe
tweets_df2.head()

,Datetime,Tweet Id,Text,Username
0,2023-06-10 23:59:59+00:00,1667683058169024512,i miss sansa and bran and rickon actually wait,helaenapilled
1,2023-06-10 23:59:59+00:00,1667683056822411266,"I didn't get a new paper bag nest today, but I...",HarleyQuinnCat3
2,2023-06-10 23:59:59+00:00,1667683056222863361,accessory - misc likes\n- dr. pepper\n- cats\n...,d4remurdock
3,2023-06-10 23:59:58+00:00,1667683054217986048,„Åä„ÅØ„Çà„ÅÜ„Åî„Åñ„ÅÑ„Åæ„Åôüê±\n‰ªäÊó•„ÇÇ1Êó•\n„Çà„Çç„Åó„Åè„ÅäÈ°ò„ÅÑ„Åó„Åæ„Åôüôè\n\n #Áå´ #„Ç≠„Ç∏„Éà„É© #...,kmjmyk908
4,2023-06-10 23:59:58+00:00,1667683052565446656,Â∞èÊûó„Å£,SvdScar

In [23]:
# Export dataframe into a CSV
tweets_df2.to_csv('text-query-tweets.csv', sep=',', index=False)